
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<style>
    @media (min-aspect-ratio: 16/9) {
        #videoBG {
            width: 100%;
            height: auto;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        #videoBG {
            width: auto;
            height: 100%;
        }
    }

    @media (max-width: 767px) {
        #videoBG {
            display: none;
        }

        body {
            background: url('download.jpg');
            background-size: cover;
        }
    }
</style>

<body style="font-family: 'Special Elite', cursive;">
    <video autoplay muted loop id="videoBG" style=" position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;">
        <source src="{{url_for('static', filename='space.mp4')}}" type="video/mp4">
    </video>

    <h1 style="font-size:70PX;z-index: 1;position: relative;text-align: center;color:white">{{params['lib_name']}}</h1>
    <h1 style="font-size:30PX;z-index: 1;position: relative;text-align: center;color:white">LIBRARY</h1>


    <div
        style="margin:auto;width: 350px;height: 400px;background-color:rgb(255, 255, 255);border-radius: 10px;padding: 15px;opacity: 80%;">
        <form name="signin" action="/sign_up" method="post" style="font-family: 'Special Elite', cursive;">
            <fieldset style="border-radius: 5px;margin-top: 30px;">
                <legend style="text-align: center;font-size: x-large;">User ID</legend>
                <input required type="text" name='username' style="width:320px;height: 50px;font-size: 30px;font-family: 'Special Elite', cursive;" placeholder="Enter a valid ID">
            </fieldset>
            <fieldset style="border-radius: 5px;margin-top: 30px;">
                <legend style="text-align: center;font-size: x-large;">Password</legend>
                <input required type="Password" name='password' style="width:320px;height: 50px;font-size: 30px;font-family: 'Special Elite', cursive;" placeholder="Enter a valid Password">
            </fieldset>
            <button type="submit" style="font-size: x-large;margin-top: 40px;margin-left: 125px;font-family: 'Special Elite', cursive;">Sign Up</button>
            <br>
            <a href="/backhome"><i class="material-icons" style="font-size:48px;color:red">arrow_back</i></a>

        </form>

    </div>

</body>

</html>